* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header .branding {
  -webkit-user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-align-center {
  text-align: center;
}

body {
  font-size: 16px;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: midnightblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman";
  color: darkblue;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 38px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 42px;
}

.dark p {
  color: #999999;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #999999;
}

a,
.link {
  color: royalblue;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
  color: #214cce;
}

a:active,
.link:active {
  text-decoration: underline;
  color: #1a3ca2;
}

.dark a,
.dark .link {
  color: white;
  text-decoration: none;
}

.dark a:hover,
.dark .link:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

.dark a:active,
.dark .link:active {
  text-decoration: underline;
  color: #cccccc;
}

.section {
  padding: 30px;
}

.section.dark {
  background: #333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  height: 100px;
}

.primary-block-0 {
  background: steelblue;
}

.primary-block-1 {
  background: #5a91bf;
}

.primary-block-2 {
  background: #70a0c7;
}

.primary-block-3 {
  background: #86aed0;
}

.primary-block-4 {
  background: #9cbdd8;
}

.primary-block-5 {
  background: #b2cce1;
}

.primary-block-6 {
  background: #c8daea;
}

.primary-block-7 {
  background: #dee9f2;
}

.primary-block-8 {
  background: #f4f8fb;
}

.primary-block-9 {
  background: white;
}

.header {
  background-color: lightblue;
}

.header .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header .branding {
  margin-right: 20px;
  font-family: Georgia, "Times New Roman";
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 575px) {
  .menu {
    display: none;
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .block.hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .block.hide-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .block.hide-lg {
    display: none;
  }
}
