// Colors
$header-color: darkblue;
$paragraph-color: midnightblue;
$primary-color: steelblue;
$panel-color: lightblue;
$link-color: royalblue;

// Typograph
$body-font-size: 16px;
$h1-font-size: 32px;
$body-line-height: 1.2em;
$paragraph-font: Arial, Helvetica, sans-serif;
$header-font: Georgia, "Times New Roman";

// Sizes
$section-padding: 30px;
$section-max-width: 1140px;

// Breakpoints
$breakpoints: (
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
)