.header {
    background-color: $panel-color;

    .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .branding {
        margin-right: 20px;
        font-family: $header-font;
        font-size: 30px;
        font-weight: 900;
        @extend %noselect;
    }
}
