@mixin link($args...) {
    $my-link-color: $link-color;
    @if(length($args) > 0 and nth($args, 1) == dark) {
        $my-link-color: white;
    }

    color: $my-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: darken($my-link-color, 10%);
    }

    &:active {
        text-decoration: underline;
        color: darken($my-link-color, 20%);
    }
}

a,
.link {
    @include link;
}

// Modifications

.dark {

    a,
    .link {
        @include link(dark);
    }
}