.menu {
   @include mq-until(sm) {
       display: none;
   } 

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

}